<div class="container mt-5 mb-5 text-center d-flex flex-column" style="min-height: 60vh;">
    <h1 class="mb-4">Contact</h1>

    <form class="col-lg-8 mx-auto">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your First Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your Last Name">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="email" class="form-control" placeholder="Enter your Email Address">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter your Phone Number">
            </div>
            <div class="d-grid col-lg-5 mt-3 mx-auto">
                <button type="submit" class="btn btn-md btn-dark">Submit</button>
            </div>
        </div>
    </form>
</div>